<div class="panel panel-default">
    <div class="panel-body">
      <form id="person-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="name">Name:</label>
            <input
              type="text"
              id="name"
              class="form-control required"
              size="120"
              max="120"
              required
              name="name"
              [ngModel]="person?.name"
              #name="ngModel">
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="budget">Budget:</label>
            <input
              type="text"
              id="budget"
              class="form-control required"
              size="120"
              max="255"
              name="budget"
              [ngModel]="person?.budget"
              #budget="ngModel"
              pattern="^\d+\.\d{2}$">
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="!budget.valid && budget.touched">
            <p>Enter a valid dollar amount.</p>
        </div>
  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="image">Image URL:</label>
            <input
              type="text"
              id="image"
              class="form-control"
              size="150"
              max="255"
              name="image"
              [ngModel]="person?.image"
              #image="ngModel">
          </div>
        </div>
        
        <div class="row">
          <div class="form-group ml-2">
            <label for="groupList ml-2">Gifts:</label>
  
            <div class="row" id="groupList"
                style="min-height: 3rem;">
  
              <div *ngFor="let gift of groupGifts; let i = index">
                <div>
                  <app-gift-item class="col-sm-10" [gift]="gift"></app-gift-item>
                  <button class="btn btn-danger col-sm-2 deleteButton" (click)="onRemoveItem(i)">X</button>
                </div>
              </div>
            </div>
  
          </div>
        </div>
  
        <div class="alert alert-danger" *ngIf="(!name.valid && name.untouched)">
            <p>The Name field is required.</p>
        </div>

        <div class="row">
          <div class="col-xs-12 btn-toolbar">
            <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
            <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>
  
      </form>
    </div>
  </div>
  