<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row pad-left-right">
          <span class="title pull-left">Contacts</span>
          <button class="btn btn-success pull-right" routerLink="new">New Contact</button>
        </div>
      </div>
      <div class="panel-body">
        <cms-contact-item 
          *ngFor="let contactItemElement of contacts" 
          [contact]="contactItemElement"
          dnd-draggable [dragEnabled]="true" [dragData]="contactItemElement" [dropZones]="['contactGroup']">
        </cms-contact-item>
      </div>
    </div>
  </div>
</div>
