<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row mx-1">
                <span class="title pad-left-right">People</span>
                <div class="pull-right pad-left-right">
                  <a [routerLink]="['new']"><span class="glyphicon glyphicon-plus-sign"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <app-person-item *ngFor="let personItemElement of persons" [person]="personItemElement">
        </app-person-item>
      </div>
    </div>
  </div>
</div>