<div class="panel panel-default">
  <div class="panel-body">
    <form id="gift-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Item Name:</label>
          <input type="text" 
          id="name" 
          class="form-control required" 
          size="120" 
          max="120" 
          required 
          name="name"
          [ngModel]="gift?.name" 
          #name="ngModel">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="price">Price:</label>
          <input 
          type="text" 
          id="price"
          class="form-control" 
          size="150" max="255" 
          name="price" 
          [ngModel]="gift?.price"
          #price="ngModel" 
          pattern="^\d+\.\d{2}$">
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="!price.valid && price.touched">
        <p>Enter a valid dollar amount.</p>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="description">Description:</label>
          <input 
          type="text" 
          id="description" 
          class="form-control required" 
          size="120" max="255" 
          required
          name="description" 
          [ngModel]="description?.email" 
          #description="ngModel">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="url">URL:</label>
          <input 
          type="text" 
          id="url" 
          class="form-control" 
          size="150" 
          max="255" 
          name="url" 
          [ngModel]="gift?.url"
          #url="ngModel">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="image">Image URL:</label>
          <input 
          type="text" 
          id="image" 
          class="form-control" 
          size="150" 
          max="255" 
          name="image" 
          [ngModel]="gift?.image"
          #image="ngModel">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>

    </form>
  </div>
</div>
