nav {
    background-color: #dc3545;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

nav a {
    color: white;
}

.click {
    color: black;
}

.active a {
    background-color: #ed99a1;
}
